<% if current_user.doctor? %>
  <h2>Patient Summary for <%= current_user.name %></h2>

  <table border="1" cellpadding="10" cellspacing="0">
    <thead>
      <tr>
        <th>Status</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Registered</td>
        <td><%= @registered_count %></td>
      </tr>
      <tr>
        <td>Completed</td>
        <td><%= @completed_count %></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <p>You are not authorized to view this page.</p>
<% end %>
